	  	<% if ((results!=nil)&&(results.count > 0)) %>
		  	<div class="single-inline">
			  	<%results.with_details.each do |paper, details|%>
			    	<%= render partial: 'shared/search_preview', :locals => {:paper=> paper, :details=>details}%>			    
			  	<%end%>			
			</div>
			<nav>
		  		<ul class="pagination blog-pagination">
		    		<%= paginate results %>
		  		</ul>
			</nav>  
		<%else%>
			<%= render partial: 'search/emptyresults' %>
		<%end%>