<div class="content">
    <!-- blogs -->
  <div class="blog">
    <div class="container">
      <%= form_tag("/search/results", method: "get", style: "width: 40%", remote: true) do %>                
        <div class="input-group"  style="opacity: 0.6;">
            <input type="text" name = "phrase" class="search-form-control " value="عنوان البحث" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'أدخل الكلمات المفتاحية للبحث';}" style="direction: rtl;">
            <span class="input-group-btn">
              <button type="submit" class="btn-lg btn-search-default" style="border-radius: 0px ! important;" type="button">! ابحث </button>
            </span>
        </div>
      <%end%>    
	  <h2 class="heading text-center" style="margin-top:10%">نتائج البحث</h2>
	  <div id="index-page-content">
        <% if ((@results!=nil)&&(@results.count > 0)) %>
          <div class="single-inline">
            <%@results.with_details.each do |paper, details|%>
              <%= render partial: 'shared/search_preview', :locals => {:paper=> paper, :details=>details}%>         
            <%end%>     
        </div>
        <nav>
            <ul class="pagination blog-pagination">
              <%= paginate @results %>
            </ul>
        </nav>  
      <%else%>
        <%= render partial: 'search/emptyresults' %>
      <%end%>      
    </div>
    </div> 
  </div>
</div>