<p><%=t(:welcome) +' ' + @resource.email.to_s %>!</p>

<p><%= t(:reset_instruction)%></p>

<p><%= link_to t(:change_password), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(:ignore_reset_email)%>.</p>

