	<div class="content">
		<div class="about-section">
			<!-- Our-staff-starts -->
		<div class="our-staff about-staff">
			<div class="container">
				<div class="our-staff-head text-center">
					<header>
						<h3>فريق العمل في المشروع</h3>
						<p>تم هذا المشروع تحت اشراف المهندس مراد دريوس</p>
					</header>
				<div class="our-staff-grids text-center">
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="/images/s4.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>أحمد حبنكة</h4>
			                    <p></p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="/images/p1.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>عامر الحصري</h4>
			                    <p></p>
                   		</div>
					</div>				
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="/images/s1.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>لؤي اﻷسدي</h4>
			                    <p></p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="/images/s4.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>محمد سلطان</h4>
			                    <p></p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="/images/s1.jpg" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a href="#"><span class="facebook"> </span></a></li>
											<li><a href="#"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>ملهم المالح</h4>
			                    <p></p>
                   		</div>
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
			</div>
		</div>
		<!-- //Our-staff-ends -->
		</div>
	</div>