    <div class="slider">
        <ul class="rslides" id="slider1">
          <li><img src="/images/2.jpg" alt=""></li>
          <li><img src="/images/1.jpg" alt="" style="opacity: 0.85;"></li>
        </ul>
            <div class="callbacks_div" style="z-index: 10; margin-top: 22%; margin-left: 5%; margin-right: 37%;">
              <%= form_tag("/search/results", method: "get", style: "width: 100%") do %>                
                <div class="input-group"  style="opacity: 0.6;">
                    <input type="text" name = "phrase" class="search-form-control " value="عنوان البحث" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'أدخل الكلمات المفتاحية للبحث';}" style="direction: rtl;">
                    <span class="input-group-btn">
                      <button type="submit" class="btn-lg btn-search-default" style="border-radius: 0px ! important;" type="button">! ابحث </button>
                    </span>
                </div>
              <%end%>
              <div class="col-md-12 welcome_top_right" style="text-align: right;background-color: #2C333D;opacity: 0.7;padding: 15px;">
                <h1 style="color: white;text-align:center">أهلاً بك!</h1><br>
                <h2 style="color: white;margin-bottom:7px">الهدف من مشروع الباحثين المعلوماتيين:</h2>
                <p style="color: white; font-size: x-large;">يهدف هذا المشروع إلى توفير منصة اجتماعية تشاركية بين الباحثين و الطلاب المهتمين بتقنيات تكنولوجيا المعلومات تمكنهم من الوصول إلى الموارد العلمية و المشاركة في بنائها و نقدها و مما يسهل عملية الوصول إلى المعلومة.</p>
                </div>
              </form>
            </div>
    </div>
	<div class="content">
        <div class="news-section" id="last_researches" style="text-align: right; direction: rtl;">
             <div class="container">
                <div class="news-section-head text-center">
                    <header>
                        <h2> أكثر اﻷبحاث العلمية مشاهدة</h2>
                    </header>
                </div>
                <div class="news-section-grids">
                    <%@papers.in_groups_of(4,false) do |group|%>
                        <%group.each do |paper|%>
                          <%= render partial: 'shared/paper_preview', :locals => {:paper=> paper}%>
                        <%end%>
                    <%end%>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
     </div> 