<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



<%@most_watched_papers.in_groups_of(4,false) do |group|%>
      <div class="row">                    
        <%group.each do |paper|%>
          <%= render partial: 'shared/paper_preview', :locals => {:paper=> paper}%>
        <%end%>
      </div>
<%end%>